#about-me {
    background: rgb(211, 105, 81);
    color: white;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 0;
}

#picture-of-me {
    height: 300px;
    border-radius: 20%;
    float: left;
}

.p-for-about-me {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0;
}