#contact {
    background: rgb(16, 103, 142);
    background: radial-gradient(circle, rgba(16, 103, 142, 1) 0%, rgba(148, 155, 233, 1) 100%);
    margin: 0;
    min-width: 100%;
    padding: 20px;
}

.form-values {
    width: 75%;
}

label,
#alert-message {
    font-weight: 500;
    font-size: 1.2rem;
}