#portfolio {
    background: rgb(16, 103, 142);
    background: radial-gradient(circle, rgba(16, 103, 142, 1) 0%, rgba(148, 155, 233, 1) 100%);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.portfolio-card {
    width: 46%;
    margin: 2%;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}

.portfolio-img {
    width: 100%;
    height: 100%;
}

.portfolio-title {
    position: absolute;
    left: 10px;
    top: 10%;
    font-weight: 500;
    font-size: 2rem;
}

.github-icon {
    margin-left: 20px;
    color: rgb(18, 97, 123);
    opacity: 0;
}

.deployed-link {
    color: rgb(18, 97, 123);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tech-used {
    color: rgb(18, 97, 123);
    position: absolute;
    top: 30%;
    font-size: 1.5rem;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.hover-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}



.portfolio-card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.8);
    opacity: 1;
}