#resume {
    background: rgb(211, 105, 81);
    color: white;
    margin: 0;
    min-width: 100%;
    padding: 20px;
}


.list-item {
    text-align: left;
    list-style-type: circle;
}

.list-group {
    list-style-type: circle;
}

#resume-link {
    color: black;
}