#resume {
    background: rgb(16, 103, 142);
    background: radial-gradient(circle, rgba(16, 103, 142, 1) 0%, rgba(148, 155, 233, 1) 100%);
    margin: 0;
    min-width: 100%;
    padding: 20px;
}


.list-item {
    text-align: left;
    list-style-type: circle;
}

.list-group {
    list-style-type: circle;
}

#resume-link {
    color: black;
}